body {
  font-family: helvetica;
  font-size: 12px;
  line-height: 1.5;
  margin: 0px;
  border-bottom: 6px solid #222222;
  border-top: 6px solid #222222;
  padding: 40px;
  background: #FFFFFF;

}

a {
  font-weight: bold;
  color: #05080C;
}

small {
  color: #05080C;
}

strong {
  color: #030609;
  font-style: italic;
}

h1 {
  text-transform: none;
  font-weight: bold;
  text-align: center;
  color: #030609;
  margin-top: 0;
}

h2 {
  color: #030609;
}

h3 {
  font-size: 18px;
  color: #030609;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-top: 22px;
}

h4 {
  font-weight: bold;
  margin-bottom: 0;
  color: #05080C;
}

p {
  font-family: courier, serif;
  margin-top: 0;
  margin-bottom: 22px;
  color: #05080C;
}

ul {
  list-style: bullet;
}

ul p {
  color: #05080C;
}

li {
  color: #05080C;
}

hr {
  border: none;
  border-top: 1px solid #222222;
  margin: 20px 0;
}

img {
  /*float: right;*/
  margin-left: auto;
  margin-bottom: auto;
  border: 0px solid #222222;
  padding: 5px;
  text-align: center
}

img[alt] {
  float: center;
}

nav {
  color: #222222;
  text-align: center;
}
